body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    padding: 50px;
}

.experience-container, .achievements-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.section-heading {
    background: #f9f9f9; /* Light background for headings */
    color: #333; /* Dark text for headings */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.experience-item, .achievements-item {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}
